@import "./../../styles/variables.scss";
.scrollButton {
    position:fixed;
    left: 2%;
    bottom: 50px;
    border-radius: 100%;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    color: grey;
}
.scrollButton:hover {
    color: $dark;
    background-color: $primary_dark;
}