@import "./../../styles/variables.scss";
.scrollButton {
    position:sticky;
    width:100%;
    left: 25%;
    bottom: 50px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    color: $light;
}