@import "./../../../styles/variables.scss";

.trust-wrap {
    background-image: url("./../../../images/sunset.jpg");
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    height: 450px;
}
#trust-section {
    text-align: center;
    align-items: center;
    color: $light;
    justify-content: center;
    padding-left:50px;
    padding-right:50px;
    padding-top:75px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: $dark2;
}
.performance-beef {
    background-image: url("./../../../images/pb_back.png"), radial-gradient(ellipse at center, $primary_dark, $dark2);
}
.pearl-city {
    background-image: url("./../../../images/pce_back.png"), radial-gradient(ellipse at center, $primary_dark, $dark2);
}
.burrus {
    background-image: url("./../../../images/burrus_back.png"), radial-gradient(ellipse at center, $primary_dark, $dark2);
}
.dekalb {
    background-image: url("./../../../images/feed wagon.png"), radial-gradient(ellipse at center, $primary_dark, $dark2);
}
h3 {
    color: $light;
    font-style: oblique;
}
#pb__logo, #pce__logo, #burrus__logo, #dekalb__logo {
    padding:20px
}
#pb_logo, #pce_logo, #burrus_logo, #dekalb_logo {
    width:100px;
}
.performance-beef, .pearl-city, .burrus, .dekalb {
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    padding:20px;
    height: 400px;
    border-style: solid;
    border-width: 10px;
    border-color: $dark2;
} 
@media screen and (max-width: 1240px) {
    #trust-section {
        grid-template-columns:auto;
    }
}
.bufferTrust {
    padding: 75px;
    background-image: linear-gradient($dark2 0%, $dark);
}