@import "variables.scss";
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Montserrat', Bold700;
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient($dark 5%, $light 40%);
}
