@import "./../styles/variables.scss";
footer {
    background-color: $dark;
    align-items: center;
    padding:35px;
    justify-content: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.link__item {
    color: white;
    text-decoration: none;
}
.credits {
    color: white;
    text-align: center;
    text-decoration: none;
}
#drew {
    text-decoration: none;
    color: white;
}
#drew:hover {
    color:$primary_light;
    transition: all 0.3s ease;
}