@import "./../styles/variables.scss";
.home__hero-section {
    background-color: $primary_light;
    color: $dark2;
    box-sizing: border-box;
}
.home__hero-section-dark {
    background-color: $primary_dark;
    color:$lightest;
    display: block;
}
.home__hero-img {
    max-width: 900px;
    height:100%;
}

.home__hero-row{
    align-items: center;
    display:block;
    height:100%;
}

.home__hero-text-wrapper {
    text-align: center;
}
.col {
    min-width: 400px;
    align-items: center;
    display: block;
}
