@import "./../styles/variables.scss";
.home__hero-section {
    background-color: $light;
    color: $dark2;
    box-sizing: border-box;
}
.home__hero-section-dark {
    background-color: $dark2;
    color:$light;
}
.home__hero-img {
    max-width: 900px;
    display: block;
}

.home__hero-row{
    align-items: center;
}

.home__hero-text-wrapper {
    text-align: center;
    display: block;
}
.col {
    min-width: 400px;
    align-items: center;
}
@media screen and (max-width: 960px) {
    .col {
        min-width: 0px;
    }
    
}
