@import "./../../styles/variables.scss";
footer {
    background-color: $dark;
    align-items: center;
    padding: 35px 0;
    justify-content: center;
    position: relative;
}
.container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    color: $light;
}
.column-one, .column-two {
    height:100%;
}
.column-one {
    border: 0px;
    border-right: 7px;
    border-style: solid;
    border-color: $light;
}
.column-one {
    padding-right: 50px;
}
.column-two {
    padding-left: 100px;
}
.logo-wrap {
    max-width: 150px;
    padding-bottom: 20px;
}
.footer__logo {
    width: 100%;
}
.instagram__icon {
    color: $light;
}
.icon-wrap {
    display: flex;
    justify-content: center;
}
.instagram__icon:hover {
    color: $primary_dark;
}
.credits, .copyright {
    color: $light;
}
#drew {
    text-decoration: none;
    color: $light;
}
#drew:hover {
    color:$primary_light;
    transition: all 0.3s ease;
}