@import "./../../../styles/variables.scss";

p {
    padding: 20px;
    word-spacing: 2px;
    line-height: 25px;
    font-style: normal;
}
#contact-section {
    padding:100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    row-gap: 30px;
}
.insta, .email, .phone, .address {
    max-width: 600px;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}
#insta_logo, #email_logo, #phone_logo, #address_logo {
    width:200px;
    padding:20px;
    background-image: radial-gradient(ellipse at center, $dark_red, $black2);
    border-bottom-left-radius: 25px;
    border-top-left-radius:25px;
}
.insta__info,.phone__info, .email__info, .address__info, .address__info2 {
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    min-height:200px;
    min-width:400px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    color: $light;
    font-size: larger;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
h3 {
    font-style: oblique;
}
.insta__info {
    background-image: url("./../../../images/insta_background.jpg"), radial-gradient(ellipse at center, $dark_red, $black2);
}
.phone__info {
    background-image: url("./../../../images/phone_background.png"), radial-gradient(ellipse at center, $dark_red, $black2);
}
.email__info {
    background-image: url("./../../../images/email_background.png"), radial-gradient(ellipse at center, $dark_red, $black2);
}
.address__info {
    background-image: url("./../../../images/address2_background.jpg"), radial-gradient(ellipse at center, $dark_red, $black2);
}
.address__info2 {
    background-image: url("./../../../images/address_background.jpg"), radial-gradient(ellipse at center, $dark_red, $black2);
}
#insta_logo:hover {
    content: url("./../../../images/insta_alt.png");
}
#phone_logo:hover {
    content: url("./../../../images/phone_alt.png");
}
#email_logo:hover {
    content: url("./../../../images/email_alt.png");
}
#address_logo:hover {
    content: url("./../../../images/address_alt.png");
}