@import "./../../../styles/variables.scss";

.ContactUs {
    justify-content: center;
    display: flex;
    background-color: $dark2;
    text-align: center;
    align-items: center;
}
.contact-container {
    justify-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: auto auto;
}
.instagram, .phone, .address1, .address2, .address, .email, .blank {
    height: 100%;
    padding: 20px;
    border-width: 10px;
    background-blend-mode: overlay;
    background-size: cover;
    background-image: linear-gradient($light, $primary_dark);
    border-style: solid;
    border-color: $dark2;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.link, .text, .subtext{
    color: $dark;
}
.bufferContact {
    padding:75px;
    background-image: linear-gradient($dark2 0%, $dark);
}
.contact-wrap {
    height:450px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-image: url("./../../../images/IMG_2639.jpg");
}