img {vertical-align: middle;}

.mast-wrap {
    width:100%;
    justify-content: center;
    display: block;
}
.mastContain {
    box-sizing: border-box;
}
.content {
    position:relative;
    top: 200px;
    justify-content: center;
    background-position: 0%;
    height: 0px;
}
@media screen and (max-width: 960px) {
    .content{top: 75px;}
}