@import "./../../styles/variables.scss";
.masthead {
    display: flex;
    justify-content:center;
    font-family: 'Montserrat', serif;
    align-items:center;
    text-align: center;
}

.title {
    padding: 15px;
    font-size: 50px;
    font-weight:bolder;
    background: -webkit-linear-gradient($dark 25%,$primary_dark 50%, $dark 75%);
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subtitle {
    color: $dark;
    font-size: 30px;
    background: -webkit-linear-gradient($dark 25%,$primary_dark 50%, $dark 75%);
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:15px
}
.dash {
    color:$dark;
    font-size: 25px;
    background: -webkit-linear-gradient($dark 25%,$primary_dark 50%, $dark 75%);
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
